* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 70%;
  margin: 50px auto;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  h1 {
    color: #333;
  }
}

#input {
  width: 80%;
  border-radius: 10px;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  font-size: xx-large;
  padding: 15px;
  color: #333;
  text-transform: capitalize;
}

.addBtn {
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin-left: 25px;
  border: none;
  border-radius: 10px;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #000;
  }
}

.addList {
  display: flex;
  align-items: center;
  margin: 25px auto;
}

.itemLine {
  border: 1px solid grey;
  padding: 10px;
  font-size: x-large;
  color: #333;
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  margin-bottom: 15px;
  border-radius: 10px;
  h3{
    display: inline-block;
    flex-wrap: wrap;
  }
}

#delete {
  padding: 5px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: background-color .1s ease;
  &:hover{
      background-color: rgba(255, 0, 0, 0.61);
  }
}
